@import '../styles.scss';

.TenantDetails.custom {
  .JsonView {
    font-family: var(--font-monospace);
  }

  .mono {
    font-family: var(--font-monospace);
  }

  .labels-only {
    margin: -4px;

    .Badge {
      float: left;
      margin: 4px;
    }
  }

  .Table.namespaces {
    @extend %table-cell-labels;

    .TableCell {
      &.name   { flex-grow: 1.0; }
      &.labels { flex-grow: 2.0; }
      &.age    { flex-grow: 0.5; }
      &.status { flex-grow: 1.0; }

      .active      { color: var(--colorOk);    }
      .terminating { color: var(--colorError); }
    }
  }
}
