@mixin fixed-column-width($width) {
  width: $width;
  flex-grow: 0;
  flex-basis: auto;
}

%bordered-table {
  border: 1px solid var(--drawerSubtitleBackground);
  border-radius: var(--border-radius);

  .TableHead {
    background-color: var(--drawerSubtitleBackground);
  }
}

%table-cell-labels-offsets {
  padding-top: calc(var(--padding) / 2);
  padding-bottom: 0;

  .Badge + .Badge {
    margin-left: calc(var(--padding) / 2);
  }
}
